* {
 margin: 0;
 padding: 0;
}

body {
 font-family: Georgia, serif;
}

.navbar {
 background-color: #6f6f6f;
 padding: 10px;
}


.navbar ul {
 list-style: none;
 display: flex;
 justify-content: center;
 gap: 20px;
}

.navbar a {
 color: white;
 text-decoration: none;
 font-weight: bold;
}
.navbar a:hover {
 text-decoration: underline;
}

.banner {
 background-image: url("../assets/getproducts.png");
 background-size: cover;
 background-position: center;
 height: 400px;
}


.overlay {
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: white;
 background-color: rgba(0,0,0,0.4);
}


.section-title {
 font-size: 50px;
 text-decoration: underline;
 text-shadow: 2px 2px 5px black;
}


.tagline {
 font-size: 18px;
}


.products {
 text-align: center;
 padding: 40px;
}

.product-logos {
 display: flex;
 justify-content: center;
 gap: 30px;
 flex-wrap: wrap;
}

.product-logos img {
 width: 100px;
}


.footer {
 background-color: #7f9c73;
 color: white;
 padding: 30px;
}


.footer-container {
 display: flex;
 justify-content: space-between;
}


.footer a {
 color: white;
 text-decoration: underline;
}

section {
 margin-bottom: 30px;
}








