.banner {
  width: 100%;
  height: auto;
}


.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.about-section h3 {
  background-color: rgb(139, 200, 139);
  text-align: justify;
  margin-left: 10px;
  flex: 1;
  padding: 10px;
  font-size: 1.5em;
}


.about-image {
  width: 500px;
  height: 400px;
  margin-right: 10px;
}


h1 {
  font-size: 4em;
}


button {
  background-color: rgb(114, 168, 114);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.read-more {
  font-size: 1.5em;
  padding: 15px 30px;
}


.more-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer {
  background-color: #7f9c73;
  color: white;
  padding: 60px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-menu h3,
.footer-location h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
}

.footer-menu ul li {
  margin-bottom: 10px;
}

.footer-menu ul li a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.footer-location p {
  max-width: 350px;
  line-height: 1.6;
  font-size: 18px;
}
